*{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50vw;
}
#head{
    display: grid;
    justify-self: center;
    align-self: center;
    
}
#navi{
    display: grid;
    justify-self: end;
}
main{
    display: grid;
    grid-template-rows: 10fr 10fr 10fr;
    box-sizing: content-box;
}
main > .post{
    display: grid;
    border: 3px solid black;
    width: 50vw;
}
.bottom{
    display: grid;
    border: ridge violet;
    grid-template-columns: 1fr 1fr;
}